<p id="notice"><%= notice %></p>

<div class="row">

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="row">
    <h2><%= @client.name %></h2>
    <p>
      <%= @client.contact_name %><br />
      <%= @client.phone %><br />
      <%= @client.contact_email %>
    </p>
    <p>
      <%= @client.street %><br />
      <%= @client.city %>,<%= @client.state %> <%= @client.postal_code %>
    </p>
    </div>

    <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start date/End Date</th>
        </tr>
      </thead>

      <tbody>
        <% @client.projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, project %></td>
            <td><%= link_to project.start_date, project %>/<%= link_to project.end_date, project %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
  
  <div class="col-md-2" id="weather-data">
    <h3>Weather</h3>
    <%= image_tag("http://www.fostersystems.com/ccdata/images/spinner.gif", :id => 'next_page_spinner') %>
  </div>
</div>

<!-- at the bottom of the page -->
<%= javascript_include_tag 'weather' %>

<script>
  var url =<%=raw "'http://api.openweathermap.org/data/2.5/weather?zip=#{@client.postal_code},us&appid=#{ENV['weather_api']}'" %>
  window.getWeather(url);
</script>